/*
g1 #703f1e
g2 #f2b48a
g3 #f08741
g4 #745744
g5 #bd6a33
*/

/* * {
    border: 1px solid magenta;
    display: none;
/* } */ */

body {
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
}

header {
    color: #000000;
}

.header-div {
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;

    display: flex;
}

.header-img {
    color: #745744;
    filter: drop-shadow(0px 5px 5px);
}

.header-img-absolute {
    position: absolute;
    right: 10%;
    width: 10vw;
    height: 10vw;
}

.header-h1 {
    margin: 0px 0px 0px 0px;
    font-size: 600%;
    font-family: "Roboto";
    text-align: center;

    flex: auto;
}

.header-div-nav {
    margin: 0px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-nav {
    margin: 0px 0px 0px 0px;

    display: flex;
    justify-content: space-between;
}

.header-nav-button {
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #3180db;
    font-size: 300%;
    cursor: pointer;

    flex: 1
}

.header-h2 {
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    font-size: 200%;

    font-family: "Times New Roman"
}

.main-div {
    display: flex;
    flex-direction: row;
}

.main-section {
    width: 80%;
}

.main-article {
    font-size-adjust: initial;

    display: flex;
    flex-direction: column;

    white-space: pre-wrap;
    overflow: auto;
    word-break: break-word;
    word-wrap: break-word;
}

.main-div-h4 {
    background-color: #a3ceff;
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    font-size: 200%;
    font-family: "Roboto";
}

.main-p {
    padding-left: 10px;
    font-size: 180%;
}

.main-ul {
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
    font-size: 180%;
}

.main-ol {
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
    font-size: 180%;
}

.main-pre {
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    font-family: 'Times New Roman';
    white-space: pre-wrap;
    overflow: auto;
    word-break: break-word;
    word-wrap: break-word;
}

.main-code {
    width: 100%;
    padding-left: 10px;
    font-size: 180%;
}

.main-aside {
    width: 20%;
    font-size: 120%;
    font-family: "Times New Roman";

    display: flex;
    flex-direction: column;
}

.aside-div {
    display: flex;
    flex-direction: column;
}

.aside-img {
    color: #745744;
    margin: 0px 0px 0px 0px;
    padding-bottom: 15px;
    width: 90%;

    filter: drop-shadow(0px 5px 5px);
    flex: auto;
}

.aside-h3 {
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    font-size: 180%;
    font-family: "Hack";

    flex: auto;
}

.aside-pre {
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    font-size: 100%;

    white-space: pre-wrap;
    overflow: auto;
    word-break: break-word;
    word-wrap: break-word;
}

.aside-p {
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
}

.aside-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aside-table-header {
    background-color: blue;
}

.aside-table-even {
    background-color: orange;
}

.aside-table-odd {
    background-color: green;
}

footer {
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    font-size: 160%;
}
